/*h1 {*/
/*    background-color: yellow;*/
/*    color: red;*/
/*}*/

input {
    margin-bottom: 15px;
}

.wbdv-nudge-15px-down {
    position: relative;
    top: 15px;
}

.wbdv-nudge-10px-down {
    position: relative;
    top: 10px;
}

.wbdv-color-red {
    color: red;
}

.wbdv-color-white {
    color: white;
}

.wbdv-color-lightgrey {
    color: lightgrey;
}

.wbdv-add-course-btn {
    position: relative;
    top: 15px;
    color: red;
}

.wbdv-stuck-bottom-right {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

body {
    padding-top: 100px;
    background-color: #2e2e2e;
    color: lightgrey;
}

.wbdv-sticky-h1 {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: darkgray;
    right: 0px;
}
